/* You can add global styles to this file, and also import other style files */
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.error-message {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 16px;
  align-items: center;
}

.not-logged-in {
  display:block;
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  margin-left: -35px;
  font-weight: bold;
  color: royalblue;
  width: 130%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
